body {
    margin: 5px;
}


.column {
    float: left;
    padding: 10px;
  
}

.left {
  width: 25%;
}

.right {
  width: 72%;
}


.row:after {
    content: "";
    display: inline;
    clear: both;
}
#txt{
	font-size: 30px;
	font-weight: bold;
}

.flex-container {
  display: flex;
  flex-direction: column;
  background-color: DodgerBlue;
}

.flex-container>div {
  background-color: #f1f1f1;
  width: 100%;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 14px;
}
.flex-container1 {
  display: flex;
  flex-direction: column;
  background-color: DodgerBlue;
}

.flex-container1>div {
  background-color: #f1f1f1;
  width: 100%;
  margin: 10px;
  text-align: left;
  line-height: 75px;
  font-size: 14px;
}